<div class="container">
  <div class="row">
    <ng-container *ngFor="let p of myproducts">
      <ng-container *ngIf="p.PlaceArea?.trim().toLowerCase() === place?.trim().toLowerCase()">
        <div class="col-md-3 mb-2">
          <div class="card">
            <div class="card-header">
              <img [src]="p.placeImage" height="250px" width="250px" alt="">
            </div>
            <div class="card-body">
              <h1 class="card-title">{{p.placeName | slice: 0 : 10}}...</h1>
              <p>{{p.placeDescription | slice: 0 : 50}}...</p>
              <p>Price <label class="badge bg-primary">{{p.placePrice}}</label></p>
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
