<div class="row justify-content-center my-4">
  <div class="col-md-6">
    <div class="card shadow p-4 bg-light">
      <div class="card-header text-center text-black mb-3 rounded ">
        <h4>Add New Place</h4>
      </div>

      <form [formGroup]="productForm" (ngSubmit)="submitPlace()">
        <div class="mb-3">
          <label class="form-label">Place Id</label>
          <input type="text" class="form-control" formControlName="placeId">
        </div>

        <div class="mb-3">
          <label class="form-label">City</label>
          <input type="text" class="form-control" formControlName="PlaceArea">
        </div>

        <div class="mb-3">
          <label class="form-label">Place Name</label>
          <input type="text" class="form-control" formControlName="placeName">
        </div>

        <div class="mb-3">
          <label class="form-label">Place Description</label>
          <input type="text" class="form-control" formControlName="placeDescription">
        </div>

        <div class="mb-3">
          <label class="form-label">Place Category</label>
          <input type="text" class="form-control" formControlName="placeCategory">
        </div>

        <div class="mb-3">
          <label class="form-label">Place Price</label>
          <input type="text" class="form-control" formControlName="placePrice">
        </div>

        <div class="mb-3">
          <label class="form-label">Place Image</label>
          <input type="text" class="form-control" formControlName="placeImage">
        </div>

        <div class="text-center mt-4">
          <button class="btn btn-success px-4" type="submit">Add Place</button>
        </div>
      </form>
    </div>
  </div>
</div>
